<h1>Editar Producto</h1>

<div class="card">
  <div class="card-body">
    <form action="/views/products/edit/{{product._id}}" method="POST">
      {{> _product-form}}
      <button type="submit" class="btn btn-success">Guardar Cambios</button>
      <a href="/views/products" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
</div>